@media (min-width: 1420px) {

  .tehnix__slide-statik {
    grid-template-columns: repeat(4, 240px);
  }
  .tehnix__slide-statik .tehnix__slide {
    display: none;
  }
  .tehnix__slide-statik .tehnix__slide:nth-child(-n+4) {
    display: flex;
  }
  .tehnix__slide-statik.expanded .tehnix__slide {
    display: flex;
  }
}
}}