* { margin: 0;
       
}

@font-face {
    font-family: 'TT Lakes';
    src: url('./font/TTLakes-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'TT Lakes';
    src: url('./font/TTLakes-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'TT Lakes';
    src: url('./font/TTLakes-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  
  body {
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: #F8F8F8;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 88px;
    background: #FFFFFF;
    border-bottom: 1px solid #D9FFF5;
  }
  
  .header__nav {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-left: 16px;
  }
  .header__left-nav{
    display: flex;
    align-items: center;
    gap: 16px;
    padding-right: 16px;
  
  }
  
  .header__right-button {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .header__button {
    background: none;
    border: none;
    padding: 0;
  }


  .call,
  .chat,
  .profile {
    display: none;
 }
  

  
  .divider {
    width: 2px;
    height: 32px;
    background: #EAEAEA;
    border-radius: 1px;
  }
  
  .divider_second {
    display: none;
  }


  .main {
    display: flex;
    flex-direction: column;
    background-color: #F8F8F8;
  }
  
  .services {
    
  }
  
  
  .services__bar {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .services__left {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 16px;
  }
  
  .services__highlight {
    width: 4px;
    height: 40px;
    background: #41F6D7;
    border-radius: 0 4px 4px 0;
  }
  
  .services__title {
    font-family: 'TT Lakes';
    margin: 0;
    font-size: 28px;
    font-weight: 700;
  }
  

  .conteiner__btn{
    display: flex;
    flex-direction: column;
  }


  .services__btn {
    display: flex;
    padding: 7px 8px;
    background: none;
    border: 2px solid transparent;
    border-radius: 6px;
    font-family: TT Lakes;
    font-size: 16px;
    font-weight: 500;
    color: #7E7E82;
    white-space: nowrap;
    cursor: pointer;
  }
  
  .services__btn--active {
    border-color: #B8FFEC;
    background: #FFFFFF;
  }
  
  .services__btn-scroll {
    display: flex;
    gap: 16px;
    overflow-x: auto;
    margin-left: 12px;

  }
  
  .services__btn-scroll::-webkit-scrollbar {
    display: none; 
  }
  
  .services__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .header__bar-button {
    display:none;
  }

  .text__conteiner {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .services__text {
    display: flex;
    flex-direction: column;
    font-family: TT Lakes ;
    font-weight: 400;
    gap: 16px;

  }
  
  .services__text-first {
    display: flex;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    
  }
  
  .services__text-second,
  .services__text-third {
    display: none;
  }
  
  .services__more-button {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 132px;
    height: 24px;
    padding-left: 24px;
    background: none;
    border: none;
    font-weight: 500;
    color: #1B1C21;
    cursor: pointer;
  }
  
  .services__more-icon {
    display: block;
  }
  
  .services__image {
    width: 100%;
  }

  @media (min-width: 768px) {



    .divider {
    display: none;
    }


    .divider_second {
      display: flex;
      align-items: center;
      gap: 16px;
    }
    .call,
    .chat,
    .profile {
      display: flex;
      align-items: center;
      gap: 16px;
   }

   .header__nav{
    margin-left: 24px;
  }
   .header__second-button {
    display: flex;
    align-items: center;
    gap: 16px;
   }

   .services__highlight {
    width: 4px;
    height: 40px;
    background: #41F6D7;
    border-radius: 0 4px 4px 0;
  }
   .services__content {
    display: flex;
    flex-direction: row;
    gap: 70px;

    }

    .services__header {
      display: flex;
      flex-direction: column;
      gap: 16px;

    }

    .header__bar-button {
      display:none;
    }

    .services {
      display: flex;
      flex-direction: column;
    }

   .services__text {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-left: 24px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
  }

  .services__left {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 12px;

  }
   
   .services__text-first {
    display: flex;
    padding: 0;
   } 

   .services__text-second {
    display: flex;
    flex-direction: column;
    padding: 0;


   }
   .services__image-wrapper {
    display: flex;
    
   }

  .services__image {
    border-radius: 6px;
    width: 360px;

  }

  .services__more-button{
    width: auto;
    font-size: 16px;
    gap: 16px;
    margin-left: 10px;
  }

  }

  @media (min-width: 1120px) {
    .header {
      display: none;
  }

  .services {
    margin-top: 24px;
    

  }

  .services__content {
    gap: 45px;

  }

  .text__conteiner {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .services__highlight {
    width: 4px;
    height: 40px;
    background: #41F6D7;
    border-radius: 0 4px 4px 0;
  }

  .services__bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .services__header {

      display: flex;
      flex-direction: column;
      gap: 20px;

  }

  .services__left {
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 32px;
    }

    .services__btn-scroll {
      flex-wrap: wrap;
      overflow-x: visible;
      

    }

    .services__btn {
      
    }

    .header__bar-button {
      display: flex;
      align-items:center;
      gap: 10px;
      padding-right: 25px;
    }

    .button__text {
      font-family: TT Lakes;
      font-weight: 500;
      letter-spacing: -0.2px;
      padding-left: 28px;

    }
      
    .header__button {
      display: flex;
      flex-wrap: nowrap;
      border: none;
      padding: 0;
    }

    .services__text-second {
      display: inline;
    
  }

    .services__text-third {
      display: inline;
    }

    .conteiner__btn {
      display: flex;
      flex-direction: column;
    }
    .services__image {
      padding-right: 24px;
      border-radius: 6px;
      width: 531px;
      height: 307px;
    }
  }