* { margin: 0;
       
}

@font-face {
    font-family: 'TT Lakes';
    src: url('./font/TTLakes-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'TT Lakes';
    src: url('./font/TTLakes-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'TT Lakes';
    src: url('./font/TTLakes-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  
  body {
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: #F8F8F8;
    
  }


  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 88px;
    background: #FFFFFF;
    border-bottom: 1px solid #D9FFF5;
  }
  
  .header__nav {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-left: 16px;
  }

  .header__left-nav{
    display: flex;
    align-items: center;
    gap: 16px;
    padding-right: 16px;
  
  }
  
  .header__right-button {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .header__button {
    background: none;
    border: none;
    padding: 0;
  }

  .call,
  .chat,
  .profile {
    display: none;
 }

 
  .divider {
    width: 2px;
    height: 32px;
    background: #EAEAEA;
    border-radius: 1px;
  }
  
  .divider_second {
    display: none;
  }


  .main {
    display: flex;
    flex-direction: column;
    background-color: #F8F8F8;
  }
  
  .content__main {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  
  .content__header {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .content__left {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 16px;
  }
  
  .content__highlight {
    width: 4px;
    height: 40px;
    background: #41F6D7;
    border-radius: 0 4px 4px 0;
  }
  
  .content__title {
    font-family: 'TT Lakes';
    margin: 0;
    font-size: 28px;
    font-weight: 700;
  }
  

  .conteiner__btn{
    display: flex;
    flex-direction: column;
  }

  .content__btn-list {
    display: flex;
    flex-wrap: nowrap;
  }

  .content__btn {
    display: flex;
    padding: 7px 12px;
    background: none;
    border: 2px solid transparent;
    border-radius: 6px;
    font-family: TT Lakes;
    font-size: 16px;
    font-weight: 500;
    color: #7E7E82;
    white-space: nowrap;
    cursor: pointer;
  }
  
  .content__btn--active {
    border-color: #B8FFEC;
    background: #FFFFFF;
  }
  
  .content__btn-scroll {
    display: flex;
    gap: 16px;
    overflow-x: auto;
    margin-left: 12px;

  }
  
  .content__btn-scroll::-webkit-scrollbar {
    display: none; 
  }
  
  .content__info {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .content__header-buttons {
    display:none;
  }

  .content__info-conteiner {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .content__text {
    display: flex;
    flex-direction: column;
    font-family: TT Lakes ;
    font-weight: 400;
    gap: 16px;
  }
  
  .content__text-first {
    display: flex;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
  }
  
  .content__text-second, 
  .content__text-third {
    display: none;
  }
  
  .content__text-more {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 132px;
    height: 24px;
    padding-left: 24px;
    background: none;
    border: none;
    font-weight: 500;
    color: #1B1C21;
    cursor: pointer;
  }

  
  .content__text-second.expanded {
    display: flex;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
  }



  .content__text-third.expanded {
    display: flex;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
  }
  
  .text__more-icon {
    display: block;
  }
  
  .content__image {
    width: 100%;
  }

  .burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    gap: 60px;
    top: 0;
    left: 0;
    width: 320px;
    height: 100%;
    background: white;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1000;
    overflow-y: auto;
  }
/* 
  #menu-toggle:checked ~ .burger-menu {
    box-shadow: 0 16px 52px rgba(0, 0, 0, 0.2);
  }
  
  #menu-toggle:checked ~ .burger-menu {
    transform: translateX(0);
  }

  
  #menu-toggle:checked ~ .overlay {
    display: block;
    opacity: 1;
  } */

  .burger-menu--open {
    transform: translateX(0); 
  }
  .burger-menu__close {
    display: flex;
    align-items: center;
  }
  .burger-menu__main {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .burger-menu__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px 0 24px;

  }
  .burger-menu__icon {
    display: flex;
    gap: 16px;
  }

  .burger-menu--open {
    left: 0;
  }
  
  .overlay {
    position: fixed;
    inset: 0;
    z-index: 998;
    background-color: rgba(255, 255, 255, 0.6); 
    opacity: 0;               
    visibility: hidden;
    pointer-events: none;
    transition: opacity .3s ease;
  }
  
  .overlay--visible {
    opacity: 1;
    visibility: visible;
  }

  /* .overlay {
   display: none;
  
  } */

  .search {
    background: none;
    border: none;

  }
  .burger-menu-btn {
    display: flex;
    flex-direction: column;
    gap: 26px;
    

  }

  .burger-menu__btn {
    display: flex;
    align-items: center;
    border: none;
    background-color: white;
    padding-left: 26px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-family: 'TT Lakes';
    cursor: pointer;
    opacity: 0.8;
    transition: filter 0.3s ease, opacity 0.3s ease;
  }

  .burger-menu__btn:hover {
    filter: brightness(1.2);
    opacity: 0.3;
  }

  .burger-menu-btn {
    display: flex;
    flex-direction: column;
    gap: 32px;

  }


  .burger-menu__footer {
    display: flex;
    flex-direction: column;
  }

  .burger-menu__footer-icon {
    display: flex;
  }
  .footer__button {
    display: flex;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: filter 0.3s ease, opacity 0.3s ease;
    
  }
  .footer__button:hover {
    transform: brightness(1.2);
    opacity: 0.3;
  }

  .burger-menu__footer {
    display: flex;
    gap: 24px;
    padding-left: 24px;
 
  }

  .burger-menu__btn-active {
    display: flex;
  }
  .burger-menu__highlight {
    width: 4px;
    height: 32px;
    background: #41F6D7;
    border-radius: 0 4px 4px 0;
  }

  .burger-menu__mail {
    font-family: TT Lakes;
    font-weight: 500;
    color:#1B1C21;
    text-decoration: none;
    transition: filter 0.3s ease, opacity 0.3s ease;
  }
  .burger-menu__mail:hover {
    filter: brightness(1.2);
    opacity: 0.3;
  }

  .burger-menu__phone {
    font-family: TT Lakes;
    font-weight: 700;
    font-size: 24px;
    color: #1B1C21;
    text-decoration: none;
    transition: filter 0.3s ease, opacity 0.3s ease;
  }

  .burger-menu__phone:hover {
    filter: brightness(1.2);
    opacity: 0.3;
  }

  .burger-menu__languages {
    display: flex;
  }

  .burger-menu__lang-button--active {
    border: none;
    background-color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: rgba(126, 126, 130, 1);
  }

  .burger-menu__lang-button {
    font-family: "TT Lakes";
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    border: none;
    background-color: white;
    transition: filter 0.3s ease, opacity 0.3s ease;
  }
  .burger-menu__lang-button:hover {
    filter: brightness(1.2);
    opacity: 0.3;
  }

  .burger-menu__button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
  }

  .burger-menu__footer-button {
    display:flex;
    flex-direction: row;
    gap: 16px;
  }

  .services__brands {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .services__brands-header {
    border-top: 1px solid #D9FFF5;
    background: linear-gradient(90deg, #f8f8f8, #fff 98.61%);
  }

  .services__brands-title {
    font-family: 'TT Lakes';
    padding: 18px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: #7E7E82;
  }

.services__tehnix {
  display: flex;
  flex-direction:column;
  gap: 16px;
}

.services__tehnix-header {
  background: linear-gradient(90deg, #f8f8f8, #fff 98.61%);
}
 
.services__tehnix-title {
  font-family: 'TT Lakes';
  padding: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: #7E7E82;
}
.tehnix__blok-slider {
  gap: 16px;
  max-width: 100%;
  position: relative;
  background: #f8f8f8;
  overflow: hidden;
  z-index: 1;
}

.brends__blok-slide {
  max-width: 100%;
  position: relative;
  background: #f8f8f8;
  overflow: hidden;
  z-index: 1;
  }

  .tehnix__slide-statik {
    display: none;
  }

.brands__sl {
  width: 224px !important;
  height: 72px !important;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid rgba(234, 234, 234, 1);
  border-radius: 6px;
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
  }

.tehnix__sl {
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 6px !important;
  box-sizing: border-box !important;
  display: flex !important;
  flex-direction: column !important;
  height: 160px !important;
  justify-content: space-between !important;
  margin: 0;
  padding: 16px !important;
  width: 240px !important;
  } 

.swiper-pagination {
  position: static !important;
  }
  
.brands__slider-btn {
  background: none !important;
  border: none !important;
  cursor: pointer !important;
  }
.tehnix__slider-btn {
  background: none !important;
  border: none !important;
  cursor: pointer !important;
  align-self: flex-end !important;
  }
  .brends__slide-statik {
    display: none;
  }
  .read__more-btn {
    display: none;
  }

  .services__text {
    color: #1b1c21;
    font-family: TT Lakes, sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -.2px;
    line-height: 24px;
    padding: 16px 12px 0px;
    
  }
  .services__price {
    background: #f8f8f8;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }

  .tehnix__more-btn {
    display: none;
  }

  .services__price-hedear {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .price__header {
    background: linear-gradient(90deg, #f8f8f8, #fff 98.61%);
  }

  .price__header-title {
    color: #7e7e82;
    font-family: TT Lakes, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -.2px;
    line-height: 24px;
    padding: 16px 0 16px 24px;
    text-transform: uppercase;
  }

  .price__sl {
    background-color: #fff;
    border: 1px solid #eaeaea;
    border-radius: 6px;
    box-sizing: border-box;
    display: flex !important;
    flex-direction: column;
    height: 200px !important;
    justify-content: space-between;
    margin: 0;
    padding: 16px;
    width: 260px !important;
  }

  .price__span {
    font-family: TT Lakes, sans-serif;
    font-size: 14px;
    color: #1b1c21 !important;
    font-weight: 400;
    letter-spacing: .2px;
    line-height: 18px;

  }

  .price__main {
    display: flex;
    flex-direction: column;
  }

  .price__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .price__text {
    font-family: TT Lakes, sans-serif;
    font-size: 14px;
    color: #7e7e82;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 16px;
  }

  .price__info {
    display: flex;
    flex-direction: column;
  }

  .order__service{
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    transition: opacity .3s ease;
  }

  .price__static-table {
    display: none;
  }

  .services__add-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .add__info-text {
    letter-spacing: .2px;
    line-height: 20px;
    max-height: 138px;
    min-width: 288px;
    padding: 16px 16px 0 16px;
    font-family: "TT Lakes";
    font-size: 14px;
    font-weight: 400;
  }

  .add__info-button {
    font-family: "TT Lakes";
    align-items: center;
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: 500;
    justify-content: center;
    letter-spacing: -0.2px;
    line-height: 24px;
    max-height: 55px;
    max-width: 208px;
    padding-left: 16px;
    border: none;
    background: none;
    text-align: left;
  }

  .info__btn {
    position: absolute;
  }

  .footer {
    background-color: #f8f8f8;
    text-align: center;
    font-family: "TT Lakes";
    color: #7e7e82;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
  }
  .footer__info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-left: 24px;
    padding-top: 40px;

  }
  .footer__info-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-left: 24px;
    padding-top: 40px;
  }
  .text__privacy-policy {
    padding-left: 24px;
  }

.modal {
  position: fixed;
  inset: 0;
  z-index: 1999;
  display: none;
  justify-content: flex-end;
  align-items: flex-start;
}

.modal.active {
  display: flex;
}

.modal.hidden {
  display: none;
}

.modal-window {
  visibility: hidden;
  position: absolute;
  width: 320px;
  min-height: 100%;
  padding: 24px 16px 0;
  right: 0;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  scrollbar-width: none;
  z-index: 5;
  border-left: 1px solid #e0e0e0;
  box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2);
  transform: translateX(100%);
  transition: all 0.5s ease-in-out;
}

.modal-window.active {
  visibility: visible;
  transform: translateX(0);
}

.modal-window::-webkit-scrollbar {
  display: none;
}

.modal-window__main {
  padding-bottom: 19px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  transition: all 0.5s ease-in-out;
}
.modal-window__main_order-call {
  padding-bottom: 18px;
}

.modal-window__container {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  justify-content: space-between;
  transition: height 0.5s ease-in-out;
}

.modal-window__input {
  position: relative;
  width: 288px;
  height: 48px;
  transition: all 0.5s ease-in-out;
  border-radius: 8px;
  border: 1px solid #eaeaea;
}

.modal-window__input::placeholder {
  position: absolute;
  left: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #999999;
}

.modal-window__input_down {
  height: 118px;
}

.modal-window__input_down::placeholder {
  top: 12px;
  left: 16px;
}

.modal-window__title {
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
  position: relative;
  transition: color 0.3s;
}

.modal-window__title::before {
  content: "";
  position: absolute;
  left: -16px;
  top: 10px;
  width: 4px;
  height: 40px;
  border-radius: 0 4px 4px 0;
  background-color: #00c2b3;
  transition: all 0.5s ease-in-out;
}

.modal-window__title:hover {
  color: #7a7a7a;
}

.modal-window__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0;
  color: #7a7a7a;
}

.modal-window__text_pink {
  color: #ff3366;
}

.modal__close,
.button_send {
  border: none;
  background: transparent;
  cursor: pointer;
}
.button_send {
  display: flex;
  justify-content: flex-end;
}
#close {
  padding-bottom: 40px;
}


  @media (min-width: 768px) {

    .divider {
    display: none;
    }


    .divider_second {
      display: flex;
      align-items: center;
      gap: 16px;
    }
    .call,
    .chat,
    .profile {
      display: flex;
      align-items: center;
      gap: 16px;
   }
   
   .header__second-button {
    display: flex;
    align-items: center;
    gap: 16px;
   }

   .content__highlight {
    width: 4px;
    height: 40px;
    background: #41F6D7;
    border-radius: 0 4px 4px 0;
  }
   .content__info {
    display: flex;
    flex-direction: row;
    gap: 70px;
  }

    .services__header {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    .content__header-buttons {
      display:none;
    }

    .services {
      display: flex;
      flex-direction: column;
    }

   .content__text {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-left: 24px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
  }

  .content__left {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 12px;

  }
   
   .content__text-first {
    display: flex;
    padding: 0;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
   } 

   .content__text-second {
    display: flex;
    flex-direction: column;
    padding: 0;
   }

   .services__tehnix {
    display: flex;
    flex-direction:column;
    gap: 16px;
    padding-left: 24px;
  }
  .services__tehnix-title {
    font-family: 'TT Lakes';
    padding: 16px 0px 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: #7E7E82;
  }

   .content__text-second.expanded, .content__text-third.expanded {
    display: flex !important;
    flex-direction: column !important;
    padding: 0;
  }


   .content__image-wrapper {
    display: flex;
   }

  .content__image {
    border-radius: 6px;
    width: 360px;
    height: 208px;
  }

  .content__text-more{
    width: auto;
    font-size: 16px;
    gap: 16px;
    margin-left: 10px;
  }
  .brends__blok-slide {
    display: none;
  }
  .brends__slide-statik {
    display: grid;
    grid-template-columns: repeat(3, 224px);
    gap: 16px 24px;
    overflow: hidden;
    max-height: 176px; 
    transition: max-height 0.3s ease;
    padding-left: 24px;
  }
  
  .slide {
    width: 224px;
    height: 72px;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid rgba(234, 234, 234, 1);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
  }

  .slide__hidden {
    display: none;
  }

  .brends__slide-statik.expanded {
    max-height: 1000px;
  }
  .brends__slide-statik.expanded .slide__hidden  {
    display: flex;
  }

  .slide__btn {
    background: none;
    border: none;
    cursor: pointer;
    height: 250px;
    box-sizing: border-box;
  }

  .read__more-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    background: none;
    border: none;
    font-family: "TT Lakes", sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    padding-left: 24px;
  }

  .services__price {
    display: none;
  }
  .tehnix__blok-slider {
    display: none;
  }

  .tehnix__slide-statik {
    display: grid;
    grid-template-columns: repeat(3, 240px);
    gap: 24px 8px;
  }

  .tehnix__slide {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #eaeaea;
    border-radius: 6px;
    height: 160px;
    width: 224px;
  }
  
  .tehnix__slide.visible {
    display: block;
  }

  .tehnix__more-btn.hidden {
    display: none;
  }

  .hidden {
    display: none !important;
  }

  .tehnix__more-btn{
    display: flex;
    align-items: center;
    gap: 8px;
    background: none;
    border: none;
    font-family: "TT Lakes", sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    padding-left: 24px;
  }

  .price__static-header {
    align-items: center;
    color: #1b1c21;
    display: grid;
    gap: 16px;
    grid-template-columns: minmax(220px, 1fr) 100px 100px 120px;
    padding: 16px;
    font-family: TT Lakes, sans-serif;
    font-weight: 400;
    line-height: 1.6;
    font-size: 14px;
  }

  .price__static-table {
    display: block;
    padding-left: 32px;
    padding-right: 32px;
  }

  .price__table-column {
    align-items: center;
    color: #1b1c21;
    display: grid;
    gap: 16px;
    grid-template-columns: minmax(220px, 1fr) 100px 100px 120px;
    padding: 16px;
    background-color: #fff;
    overflow: hidden;
    font-size: 14px;
    font-family: TT Lakes, sans-serif;
    font-weight: 400;
    line-height: 1.6;
    position: relative;
  }

  .price__table-column:not(:last-child):after {
    background-color: #eaeaea;
    bottom: 0;
    content: "";
    height: 1px;
    left: 16px;
    position: absolute;
    right: 16px;
    z-index: 1;
  }

  .price__table-column:nth-child(2) {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .price__table-column:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .price__table-button {
    background: none;
    border: none;
  }

  .price__header {
    background: linear-gradient(90deg, #f8f8f8, #fff 98.61%);
  }

  
  @media (min-width: 1120px) {

  .header {
    display: none !important;
  }

  .main {
    transition: margin-left 0.3s ease;
    margin-left: 320px;
  }

  .burger-menu {
    position: fixed;
    transform: none !important;
    width: 320px;
    box-shadow: none;
  }

  .content {
    padding-top: 24px;
  }

  .content__info {
    gap: 40px;
  }

  .content__info-conteiner {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .content__highlight {
    width: 4px;
    height: 40px;
    background: #41F6D7;
    border-radius: 0 4px 4px 0;
  }

  .content__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .content__main {
    display: flex;
    flex-direction: column;
    gap: 20px;

  }

  .content__left {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 32px;
  }

  .content__btn-scroll {
    flex-wrap: wrap;
    overflow-x: visible;
    padding-left: 16px;
      
  }

    .content__text {
      padding-left: 35px;
      
    }

    .content__text-more {
      width: 100%;
      font-size: 16px;
      gap: 16px;
      padding-left: 33px;
    }

    .content__header-buttons{
      display: flex;
      align-items:center;
      gap: 10px;
      padding-right: 25px;
    }

    .button__text {
      font-family: TT Lakes;
      font-weight: 500;
      letter-spacing: -0.2px;
      padding-left: 28px;

    }
      
    .header__button {
      display: flex;
      flex-wrap: nowrap;
      border: none;
      padding: 0;
    }

    .content__text-second {
      display: inline;
    }

    .content__text-third {
      display: inline;
    }

    .conteiner__btn {
      display: flex;
      flex-direction: column;
    }
    .content__image {
      padding-right: 24px;
      border-radius: 6px;
      width: 531px;
      height: 307px;
    }
    .brends__slide-statik {
      display: grid;
      grid-template-columns: repeat(4, 240px) !important;
      gap: 16px 36px;
      overflow: hidden;
      max-height: 176px;
      transition: max-height 0.3s ease;
      padding-left: 32px;
    }

    /* #menu-toggle:not(:checked) ~ .burger-menu {
      transform: translateX(-100%);
    }
  
    #menu-toggle:not(:checked) ~ .main {
      margin-left: 0;
    } */

    .services__price {
      display: none;
    }
    .price__static-table {
      display: block;
      padding-left: 32px;
      padding-right: 32px;
    }
    .price__table-column {
      align-items: center;
      display: grid;
      font-size: 14px;
      gap: 24px;
      grid-template-columns: minmax(250px, 1fr) 120px 120px 140px;
      padding: 16px 24px;
    }
    .price__header {
    padding: 0;
    background: linear-gradient(90deg, #f8f8f8, #fff 98.61%);
  }

.overlay {
  display: none;
 
 }
}}

@media (min-width: 1440px) {
  .tehnix__slide-statik {
    display: grid;
    grid-template-columns: repeat(4, 240px)!important;
    gap: 24px 8px;

}
}